@page "/appointments"

<h3>Appointments</h3>

<div class="m-2 d-flex justify-content-end">
    <button @onclick="CreateAppointment" class="btn btn-success">Add Appointment</button>
</div>

@if (!string.IsNullOrEmpty(Message))
{
    <div class="alert alert-danger">
        @Message
    </div>
}

@if (Appointments == null)
{
    <p>Loading Data...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Status</th>
                <th>Patient Id</th>
                <th>Doctor Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in Appointments)
            {
                <tr>
                    <td>@appointment.Id</td>
                    <td>@appointment.AppointmentDateTime</td>
                    <td>@appointment.AppointmentStatus</td>
                    <td>@appointment.PatientId</td>
                    <td>@appointment.DoctorId</td>
                    <td>
                        <AuthorizeView Roles="Administrator">
                            <button @onclick=@(() => EditAppointment(appointment.Id)) class="btn btn-warning">Edit</button>
                            <button @onclick="@(() => CancelAppointment(appointment.Id))" class="btn btn-danger">Delete</button>
                        </AuthorizeView>
                        <button @onclick="@(() => DetailsAppointment(appointment.Id))" class="btn btn-info">Details</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
